**TASK: Import any libraries you think you'll need to scrape a website.**

In [124]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

**TASK: Use requests library and BeautifulSoup to connect to http://quotes.toscrape.com/ and get the HMTL text from the homepage.**

In [103]:
scrape_url = 'http://quotes.toscrape.com/page/{}/'
req = requests.get(scrap_url.format(1))
soup = BeautifulSoup(req.text,'lxml')
my_list = soup.select('.quote')

In [116]:
text_authors = []
text_quotes = []
text_tags = []

for item in my_list:
    text_authors.append(item.find('small',{'class':'author'}).text)
    text_quotes.append(item.find('span', {'class':'text'}).text)
    text_tags.append(item.find('div',{'class': 'tags'}).text.split())
for i in text_tags:
    i.remove('Tags:')

In [145]:
text_authors = []
text_quotes = []
text_tags = []

base_url = 'http://quotes.toscrape.com/page/{}/'

for num_page in range(1,11):
    scrape_url = base_url.format(num_page)
    req = requests.get(scrape_url)
    soup = BeautifulSoup(req.text,'lxml')
    my_list = soup.select('.quote')


    for item in my_list:
        text_authors.append(item.find('small',{'class':'author'}).text)
        text_quotes.append(item.find('span', {'class':'text'}).text)
        text_tags.append(item.find('div',{'class': 'tags'}).text.split())
for i in text_tags:
    if 'Tags:' in i:
        i.remove('Tags:')
    else:
        i.append('No-Tag')

In [156]:
df = pd.DataFrame({'Author_Name': text_authors, 'Quote': text_quotes, 'Tags':text_tags})
df

,Author_Name,Quote,Tags
0,Albert Einstein,“The world as we have created it is a process ...,"[change, deep-thoughts, thinking, world]"
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","[abilities, choices]"
2,Albert Einstein,“There are only two ways to live your life. On...,"[inspirational, life, live, miracle, miracles]"
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","[aliteracy, books, classic, humor]"
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","[be-yourself, inspirational]"
...,...,...,...
95,Harper Lee,“You never really understand a person until yo...,[better-life-empathy]
96,Madeleine L'Engle,“You have to write the book that wants to be w...,"[books, children, difficult, grown-ups, write,..."
97,Mark Twain,“Never tell the truth to people who are not wo...,[truth]
98,Dr. Seuss,"“A person's a person, no matter how small.”",[inspirational]
99,George R.R. Martin,“... a mind needs books as a sword needs a whe...,"[books, mind]"

In [158]:
df.to_csv('Quotes.csv')